<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ingeniumbd.com.eidwish">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SMS">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".Wallpaper">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity android:name=".EnglishSms">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SMS" />
        </activity>
        <activity android:name=".BanglaSms">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".SMS" />
        </activity>
        <activity android:name=".Nasta" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Wallpaper" />
        </activity>
        <activity android:name=".Mach" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Wallpaper" />
        </activity>
        <activity android:name=".Mangso" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Wallpaper" />
        </activity>
        <activity android:name=".Panio" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Wallpaper" />
        </activity>
        <activity android:name=".Mistanno" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Wallpaper" />
        </activity>
        <activity android:name=".ContentActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Wallpaper" />
        </activity>
    </application>

</manifest>